@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Titillium+Web:wght@200&display=swap');
body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.fonttop{font-size: 0.7em;}

.font_top_social{
    text-align: right;
    
}

.fontsocial{ font-size: 2em;}
.fontzap{ font-size: 1.5em; }
.fontminima{ font-size: 0.5em;}

