.who{
   background-image: url("../../assets/image/quem.jpg");
    background-position: center 65%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    border-top: 3px solid #0099cc;
}

.quem{
    padding-top: 10%;
}

